VALIDATION_DB_NAME=
VALIDATION_DB_USER=
VALIDATION_DB_PASSWORD=
VALIDATION_DB_PORT=
VALIDATION_API_PORT=
VALIDATION_JWT_SECRET=
VALIDATION_MANAGER_EMAIL=
VALIDATION_MANAGER_PASSWORD=
VALIDATION_HANDLER_EMAIL=
VALIDATION_HANDLER_PASSWORD=
APP_VERSION=
APP_COMMIT_SHA=
APP_BUILD_TIME=
APP_FRONTEND_VERSION=
APP_ALLOWED_ORIGINS=
APP_ALLOW_LEGACY_MORTALITY_RECONCILIATION=
